<%= link_to "New Person", new_person_path, class: "pull-right" %>
<h1>Staff</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Locations</th>
  </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
    <tr>
      <td>
        <%= link_to person_path(person) do %>
          <%= person.title %> <%= person.first_name %> <%= person.last_name %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
